
.DS_Store
.gitignore
Cari Berget/6 Month Analysis/.Rhistory
Viral Shah/Vitamin D/vitamin_d_analysis.pdf
Viral Shah/Vitamin D/updated_vitamin_d_analysis.docx
Viral Shah/Insulin Bone Markers/insulin_bone_analysis_tim.docx
Viral Shah/Bone Fractures/QCT_pilot_analysis.pdf
Viral Shah/Bone Fractures/QCT_pilot_analysis.docx
Viral Shah/Bone Fractures/pQCT_models.docx
Viral Shah/Bone Fractures/pQCT_data_check.pdf
Sonalee Ravi/medicaid_cgm.html
Shideh Majidi/high_risk_program_nlme.docx
Cari Berget/ATTD Abstract/attd_abstract_analysis.docx
Cari Berget/6 Month Analysis/six_month_analysis.html
Cari Berget/6 Month Analysis/six_month_analysis_REDCap_api_cache
Cari Berget/6 Month Analysis/six_month_analysis_REDCap_api_files
Cari Berget/6 Month Discontinuers/six_month_analysis_discontinuers_cache
Cari Berget/6 Month Discontinuers/six_month_analysis_discontinuers_files
Cari Berget/670G Combined/combined_analysis_cache
Cari Berget/670G Combined/combined_analysis_files
Bromocriptine/bromocriptine_analysis_unblinded.docx
Bromocriptine/bromocriptine_analysis_blinded.docx
Cari Berget/6 Month Analysis/six_month_analysis.docx
Sonalee Ravi/medicaid_cgm.docx
Janet Snell-Bergeon/qcgm_plot.html
Janet Snell-Bergeon/qcgm_plot.pdf
api_tokens.R
Shideh Majidihigh_risk_program_nlme_cache
Shideh Majidi/high_risk_program_nlme_files
Shideh Majidi/RI-PGC/ri_pgc_analysis_cache
Shideh Majidi/high_risk_program_nlme.html
Shideh Majidi/RI-PGC/ri_pgc_analysis_files
Viral Shah/Insulin Bone Markers/.Rhistory
Viral Shah/Insulin Bone Markers/insulin_bone_analysis_tim.html
Viral Shah/Insulin Bone Markers/insulin_bone_analysis_tim_files/figure-docx/unnamed-chunk-6-1.png
Viral Shah/Insulin Bone Markers/insulin_bone_analysis_tim_files/figure-docx/unnamed-chunk-6-2.png
Viral Shah/Insulin Bone Markers/insulin_bone_analysis_tim_files/figure-docx/unnamed-chunk-6-3.png
Sonalee Ravi/medicaid_cgm_cache
Sonalee Ravi/medicaid_cgm_files
Jenna Sopfe/BMT/Clarke Error Analysis - Medtronic Updated 2.sas
Viral Shah/Insulin Bone Markers/manuscript_analysis.html
Janet Snell-Bergeon/.Rhistory
Cari Berget/6 Month Analysis/six_month_analysis_REDCap_api.html
Cari Berget/6 Month Analysis/six_month_analysis_REDCap_api_files/figure-html/unnamed-chunk-9-1.png
Cari Berget/6 Month Analysis/six_month_analysis_REDCap_api_files/figure-html/unnamed-chunk-10-1.png
Cari Berget/6 Month Analysis/six_month_analysis_REDCap_api.docx
Kim Driscoll/Pump Data/.Rhistory
Viral Shah/Insulin Bone Markers/manuscript_analysis.docx
Sonalee Ravi/b_w_figures.docx
Sonalee Ravi/.Rhistory
Cari Berget/6 Month Analysis/Cronbach's alphas.docx
Janet Snell-Bergeon/CWHR Metabolomics/grant_proposal_EDA.html
Janet Snell-Bergeon/CWHR Metabolomics/.Rhistory
Janet Snell-Bergeon/AHA Metabolomics/daisy_check_files
Janet Snell-Bergeon/AHA Metabolomics/daisy_check_cache
Cari Berget/6 Month Discontinuers/Discontinuer_Analysis.html
Cari Berget/6 Month Discontinuers/six_month_analysis_discontinuers.html
Holly O'Donnell/Dissertation/dissertation_analysis.html
Holly O'Donnell/Dissertation/dissertation_analysis_cache
Holly O'Donnell/Dissertation/dissertation_analysis_files
Cari Berget/6 Month Discontinuers/six_month_analysis_discontinuers.docx
Jenna Sopfe/BMT/.ipynb_checkpoints
Jenna Sopfe/BMT/BMT_CGM_cache
Jenna Sopfe/BMT/BMT_CGM_files
Jenna Sopfe/BMT/BMT_disglycemia_cache
Jenna Sopfe/BMT/BMT_disglycemia_files
Jenna Sopfe/BMT/BMT_disglycemia_joint_models_cache
Jenna Sopfe/BMT/BMT_disglycemia_joint_models_files
Jenna Sopfe/BMT/BMT_disglycemia_survival_cache
Jenna Sopfe/BMT/BMT_disglycemia_survival_files
Jenna Sopfe/BMT/participant_plots_cache
Jenna Sopfe/BMT/participant_plots_files

.Rhistory
Jenna Sopfe/BMT/BMT_CGM.html
Holly O'Donnell/Dissertation/dissertation_analysis.docx
Jenna Sopfe/BMT/BMT_CGM.docx

Janet Snell-Bergeon/BMD Lifespan/eitan-s_figures\.html

Sarit Polsky/Retinopathy/\.ipynb_checkpoints/

Sarit Polsky/Retinopathy/retinopathy_analysis\.html

Sarit Polsky/Retinopathy/retinopathy_analysis\.docx
Kimber Simmons/GWAS/mega_t1d_report.html

*.html

Erin Cobry/cobry_attd_abstract_2019_analysis.rtf
Janet Snell-Bergeon/BMD Lifespan/eitan-s_figures.pdf
Janet Snell-Bergeon/BMD Lifespan/eitan-s_figures.pdf
Janet Snell-Bergeon/AHA Metabolomics/targeted_metabolomics.pdf
Janet Snell-Bergeon/AHA Metabolomics/untargeted_metabolomics_cache
Janet Snell-Bergeon/AHA Metabolomics/untargeted_metabolomics_files

Kimber Simmons/GWAS/.RData
Kimber Simmons/GWAS/mega_t1d_qc_files
Kimber Simmons/GWAS/mega_t1d_qc_cache
Kimber Simmons/GWAS/mega_t1d_qc.html
Kimber Simmons/GWAS/mega_t1d_pop_strat_cache

Kim Driscoll/Pump Data/.RData
Shideh Majidi/Depression/.RData
Janet Snell-Bergeon/AHA Proteomics/proteomics_analysis_cache/
Janet Snell-Bergeon/AHA Proteomics/proteomics_analysis_files/

Greg Forlenza/JDRF/Data_Raw
Jenna Sopfe/BMT/Participant Plots 7.6.20.html.zip
Christine Chan/ADA 2019/tim_analysis_LP.rtf

*.ipynb_checkpoints
Jenna Sopfe/BMT/participant_plots.html.zip
Petter Bjornstad/DKA/dka_analysis_tim.pdf

Petter Bjornstad/Pima/metabolomics_files
Petter Bjornstad/Pima/metabolomics_cache
Kim Driscoll/Baseline Paper/baseline_paper.docx
Kimber Simmons/GWAS/analysis/hispanic_pgrs.docx

*.dta
Cari Berget/670G Combined/combined_analysis.docx
Cari Berget/670G Combined/discontinuers.csv
Kimber Simmons/GWAS/preliminary_data/covar.txt
*.docx
